<div class="resume">
    <div class="personalInfo">
        <h1>Jaedon Allen</h1>
        <address>118 N Vine<br>Wichita, KS (316) 773-8810<br>jaedonallen11&#64;gmail.com</address>
    </div>

    <div class="summary">
        <h2>Summary</h2>
        <p>I’m passionate about building solutions that make life easier and more efficient.
            Whether it’s automating tasks, improving workflows, or creating apps that connect people with the things they love, 
            I enjoy diving into problems and figuring out how to solve them.</p>
    </div>
        <div class="education">
            <h2>Education</h2>
            <p>Western Governors University <span class="educationDates">07/24 - Present</span>
            Bachelor of Science, Software Engineering
            </p>
        </div>
    <div class="experience">
        <h2>Experience</h2>
        <p>King of Freight, Lead Developer <span class="employmentDates">10/24 - Present</span></p>
        <ul>
            <li>Developed customized web applications using PHP, JavaScript, and python to automate IT workflows, resulting in a nearly 30% productivity
                increase and 25% reduction in support tickets.</li>
            <li>Monitored, optimized, and maintained database systems and performance.</li>
            <li>Assisted in converting the organization's database to a serverless architecture within AWS, reducing costs by scaling storage resources based on demand.</li>
            <li>Integrated the company's badge-in security system API with the website to trace employee badge times daily.</li>
        </ul>
    </div>
</div>